:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(94, 94, 94);
  --font-color: black;
  --background-color: white;
}
[data-theme="dark"] {
  --primary-color: grey;
  --secondary-color: black;
  --font-color: white;
  --background-color: #b2b2b2;
}
body {
  background-color: var(--background-color);
}
.container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#display-box {
  width: 300px;
  border-radius: 10px;
  padding-left: 13px;
}

input {
  font-size: 30px;
  width: 65px;
  height: 65px;
  margin: 5px;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  background: (var(--primary-color));
  color: var(--font-color);
  outline: none;
}

.calculator {
  border-radius: 20px;
  background: var(--primary-color);
  padding: 10px;
  display: inline-block;
}

input {
  box-shadow: 5px 5px 5px var(--secondary-color),
    -5px -5px 5px var(--primary-color);
}

input:hover {
  box-shadow: inset 5px 5px 5px var(--secondary-color),
    inset -5px -5px 5px var(--primary-color);
}

#display-box {
  box-shadow: inset 5px 5px 5px var(--secondary-color),
    inset -5px -5px 5px var(--primary-color);
}

.calculator {
  box-shadow: 5px 5px 5px var(--secondary-color),
    -5px -5px 5px var(--secondary-color);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2a352b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
